<body>
    <div class="main-header">
    <h1>Luxury Office Suite
to Rent, Lichfield, Staffordshire</h1>
    <span>
📨 Email: <a href="mailto:joreyner@gmail.com">JoReyner@gmail.com </a>
</span>
<span>
☎️ Phone: <a href="tel:07890780057">07890 780057</a>
</span>
<br>
<br>
</div>
<br>
<div class="main">
    {{ content | safe }}
</div>
<div class="footer">
    <div>Office rental Lichfield ©️ 2023</div>
    <span>
📨 Email: <a href="mailto:joreyner@gmail.com">JoReyner@gmail.com </a>
</span>
<span>
☎️ Phone: <a href="tel:07890780057">07890 780057</a>
</span>
<br>
</div>
</body>
</html>